<div class="w-main">
  <div class="w-head">
    <p>My Wishlist (02)</p>
  </div>
  <div class="w-wrap">
    <div class="w-book">
      <div class="wb-con">
        <div>
          <img src="../../../assets/Image 11.png" alt="" />
        </div>
        <div class="wb-detail">
            <p class="book-name">Dont make me think</p>
            <p class="author">By Steven krug</p>
            <div class="cost">
                <p class="rupees">
                    Rs. 1500
                </p>
                <p class="disc">
                    Rs. 2000
                </p>
            </div>
        </div>
        </div>
    <div>
      <i class="material-icons" style="color: #9d9d9d;font-size: 25px;">delete</i>
    </div>
  </div>
</div>
