<div style="display: flex; justify-content: center;margin-top: 50px;">
  <div class="user-card">
      <div class="image-card">
      <img class="logo" src="../../../assets/2766594.png" alt="">
      <p>ONLINE BOOK SHOPPING</p>
      </div>
      <div class="login-main">
          <div class="login-sign">
              <div class="but-div">
              <div class="but-cs">Login
                  <button class="rect"></button>
              </div>
              <div class="but-cs">SignUp
                <button class="rect"></button>
              </div>
              </div>
              <div class="form-content">
                  <div class="inputs">
                      <label for="fullname">FullName</label>
                      <input type="text" name="fullname" id="fullname">
                  </div>
                  <div class="inputs">
                      <label for="email">Email Id</label>
                      <input type="email" name="email" id="email">
                  </div>
                  <div class="inputs">
                      <label for="password">Password</label>
                      <div class="pass-div">
                          <input type="password" name="password" id="password">
                          <mat-icon>visibility</mat-icon>
                      </div>
                  </div>
                  <div class="inputs">
                      <label for="phone">Mobile Number</label>
                      <input type="tel" name="phone" id="phone">
                  </div>
                  <div class="sign-but">
                    <button>Signup</button>
                </div>
              </div>
          </div>
      </div>
  </div>  
</div>