<div class="head">
    <div class="hearderContent">
        <div>
            <img src="../../../assets/education.png" alt="logo">
        </div>
        <span class="Title">Bookstore</span>
    </div>
</div>
<div class="main">
    <h2 class="hTag">Reset Your Password</h2>
    <mat-card class="mainCard">
        <div class="InsideCard" [formGroup]="ResetPasswordForm">
            <mat-card-title>
                <h3>Enter your email address and we'll send you a link to reset your password.</h3>
            </mat-card-title>

            <mat-form-field>
                <label>Password</label>
                <input matInput [type]='hide?"text":"password"' formControlName='password'>
                <mat-error>{{ PasswordValidation()}}</mat-error>
            </mat-form-field>

            <mat-form-field>
                <label>Confirm</label>
                <input matInput [type]='hide?"text":"password"' formControlName='confirmPassword'
                    pattern="{{this.ResetPasswordForm.value.password}}">
                <mat-error *ngIf="ResetPasswordForm.get('confirmPassword')?.hasError('pattern')">Passwords didn’t
                    match.Try Again</mat-error>
                <mat-error *ngIf="ResetPasswordForm.get('confirmPassword')?.hasError('required')">Enter Confirm Password
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <label>Enter OTP</label>
                <input matInput type="number">
                <mat-error></mat-error>
            </mat-form-field>
            <div>
                <button mat-stroked-button>Reset Password</button>
            </div>
        </div>
    </mat-card>
</div>